body {
  background-color: #000000;
  font-family: Arial, sans-serif;
}

h1 {
  color: rgb(7, 255, 7);
  font-size: 36px;
  text-align: center;
}

h2, h3 {
  color: rgb(7, 255, 7);  /* Add this line */
}

p {
  color: rgb(7, 255, 7);
  font-size: 20px;
  text-align: center;
}

button {
  background-color: rgb(0, 116, 6);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  display: inline-block;
}

img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

body {
  text-align: center;
}
